{% extends 'basehead.html' %}
{% block content %}
    <div class="container is-max-desktop">
        <article class="message is-warning   is-large">
            <div class="message-header">
                <p>访问的页面不存在400</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <h1>请尝试其他操作.</h1>
                </br>
                <h1><strong>不要做非法操作.</strong></h1>
            </div>
        </article>
    </div>
{% endblock %}