{% extends'basehead.html' %}
{% block content %}
    <br/>
    <div class="container is-max-desktop ">
        <div class="block">
            <table class="table is-striped is-hoverable">
                <thead>
                <tr>
                    <td>登陆序号</td>
                    <td>姓名</td>
                    <td>准考证号</td>
                    <td>登陆时间</td>
                    <td>文档提交时间</td>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.num }}</td>
                        <td>{{ user.login_time | formatdatetime }}</td>
                        <td>{{ user.file_uploaded |formatdatetime}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>setTimeout(function () {
        location.reload()
    }, 8000); </script>
{% endblock %}

