<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}北邮自学考试实践考核{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <link rel="stylesheet" href="../static/css/bulma.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/fontawesome/css/all.css">
</head>
<body>

    <form method="post">
        <div class="field mx-6 p-3 has-background-grey-lighter">
        <label class="label">姓名</label>
        <div class="control has-icons-left">
            <input class="input is-medium" type="text" name="username" placeholder="输入姓名" autocomplete="off" required>
            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
        </div>

        <label class="label">准考证号</label>
        <div class="control has-icons-left">
            <input class="input is-medium" type="text" name="usernum" placeholder="输入准考证号码" autocomplete="off" required>
            <span class="icon is-small is-left"><i class="fas fa-id-card"></i></span>
        </div>
        <input class="button is-medium is-link mt-3" type="submit" name="submit" value="登入考试">
    </div>
    </form>

</body>
